* {
  font-family: "Poppins", sans-serif;
}

.weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.weather-sub-container {
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: color;
  align-items: center;
  color: lightgrey !important;
  height: inherit;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  width: 300px;
}

.description {
  font-size: 0.9rem;
  font-weight: 500;
}

.location {
  font-weight: 500;
}

.temp {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.temp:hover {
  color: white;
}

.minmaxTemp span {
  cursor: pointer;
  font-weight: 400;
  margin: 0 1rem;
  transition: all 0.25s ease-in-out;
}

.minmaxTemp span:hover {
  color: white;
}

.weather-icon {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.weather-icon img {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.35rem rgba(0, 0, 0, 0.1);
  height: 100%;
  width: auto;
}

.loader-container {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
