* {
  font-family: "Poppins", sans-serif;
}

.weather-container {
  align-items: center;
  color: lightgrey !important;
  height: inherit;
  justify-content: center;
  margin: 0;
  margin-top: 5rem;
  padding: 0;
  text-align: center;
}

.description {
  font-size: 0.9rem;
  font-weight: 200;
}

.location {
  font-weight: 500;
}

.minmaxTemp span {
  font-weight: 400;
  padding: 0 1rem;
}

.weather-icon {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.weather-icon img {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.35rem rgba(0, 0, 0, 0.1);
  height: 100%;
  width: auto;
}

.loader-container {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
